# Code Editor files
.vs
.vscode

# Git/Github
.git
.github

# Nuxt dev/build outputs
.cache
.data
.nuxt
.nitro
.output
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Test
coverage

# Misc
.DS_Store
.fleet
.idea

# Env files
.env*

# Tauri files
native

# Static files
static/**/*.*
!static/**/*.gitkeep

# Docker files
.dockerignore
Dockerfile