.vs
.vscode

.changeset
.git
.github

# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*

# Tauri files
src-tauri/target/
src-tauri/gen/schemas

# Docker files
.dockerignore
Dockerfile

# Static files
static/**/*.*
!static/**/*.gitkeep