# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Tauri files
native/target/
native/gen/schemas

# Static files
static/**/*.*
!static/**/*.gitkeep
!static/data/*