# Nuxt dev/build outputs
.cache
.data
.nuxt
.nitro
.output
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Env files
.env
.env.*
!.env.example
!.env.native

# Static files
static/**/*.*
!static/**/*.gitkeep
!static/data/*