# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Package Manager
package.json
pnpm-lock.yaml

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Env files
.env*
!.env.example

# Tauri files
native

# Static files
static/**/*.*
!static/**/*.gitkeep
!static/data/*